atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.9.3
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
cx-Freeze==6.1
cycler==0.10.0
decorator==4.4.2
Django==2.2.5
future==0.18.2
gunicorn==20.0.4
html5lib==1.1
huepy==1.2.1
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.2
importlib-metadata==2.0.0
iniconfig==1.1.1
instabot==0.117.0
kiwisolver==1.1.0
lxml==4.6.2
matplotlib==3.2.1
mock==4.0.2
moviepy==1.0.3
numpy==1.18.2
packaging==20.4
Pillow==8.0.1
pluggy==0.13.1
proglog==0.1.9
py==1.9.0
pyparsing==2.4.6
PySocks==1.7.1
pytest==6.1.2
python-dateutil==2.8.1
pytz==2020.4
requests==2.25.0
requests-toolbelt==0.9.1
responses==0.12.1
schedule==0.6.0
selenium==3.141.0
six==1.14.0
soupsieve==2.1
sqlparse==0.3.0
toml==0.10.2
tqdm==4.52.0
urllib3==1.26.2
webencodings==0.5.1
zipp==3.4.0
