{% extends "main_section/base.html" %}
{% block content %}

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">

      <div class="col-sm-3">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-5747013921515016"
            data-ad-slot="7445199382"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
     
      </div>

      <div class="col-lg-6 mx-auto">
        <h1 class="fw-light">Free Email Scraper</h1>
        <p class="lead text-muted">Scrape email addresses found on any website for free!</p>
        <form action="search" method="GET">
          <div class="input-group mb-3">
              <input placeholder="Enter Website URL..." name="link" type="url" class="form-control">
              <button type="submit" class="btn btn-primary" id="button-addon2">Search for emails!</button>
          </div>
        </form>
      </div>

      <div class="col-sm-3">
        
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-5747013921515016"
            data-ad-slot="7445199382"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      
      </div>

    </div>
  </section>

</main>

{% endblock content %}